[Unit]
Description=satsmobi

[Service]
User=dev
WorkingDirectory=/home/dev/sats4sats-wallet
ExecStart=/home/dev/sats4sats-wallet/sats4sats-wallet
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
