[Unit]
Description=Sats4Sats Light Wallet Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/dev/sats4sats-wallet
ExecStart=/home/dev/sats4sats-wallet/sats4sats-wallet
User=dev
Restart=always

[Install]
WantedBy=multi-user.target